.important {
    color: #336699;
}

#footer {
    width: 100%;
    position: fixed;
    bottom: 10px;
}

label,input{
    display:flex;
    flex-direction:column;
    max-height: 40px;
  }

form {
    padding-bottom: 3%;
    padding-top: 2%;
}