{% extends "layout.html" %}
{% block title %}Authors{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h2>Authors</h2>
    <p class="important">Displays all Authors and their attributes</p>
    <table border="1" cellpadding="5">
        <tr>
            {% for attr in authors[0].keys() %}
            {% if attr != "author_id" %}
            <th>{{ attr.replace("_", " ").title() }}</th>
            {% endif %}
            {% endfor %}
            <th>Edit Author</th>
            <th>Delete</th>
        </tr>
        {% for author in authors %}
        <tr>
            <td>{{author.first_name}}</td>
            <td>{{author.last_name}}</td>
            <td><a href="/authors/edit/{{author.author_id}}"><button>Edit</button></a></td>
            <td><a href="/authors/delete/{{author.author_id}}"><button>Delete</button></a></td>
        </tr>
        {% endfor %}
    </table>
    <br><br>

    <form method = "POST" id = "addAuthor" padding-bottom="0">
        <h3>Add An Author</h3>
        <label>First Name </label> <input type="text" name = "first_name">
        <label>Last Name </label> <input type="text" name = "last_name">
        <input type ="submit">
    </form>

{% endblock %}