{% extends "layout.html" %}
{% block title %}Authors{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h2>Authors</h2>
    <p class="important">Displays all Authors and their attributes</p>
    <table border="1" cellpadding="5">
        <tr>
            {% for attr in authors[0].keys() %}
            <th>{{ attr }}</th>
            {% endfor %}
            <th></th>
            <th></th>
        </tr>
        {% for author in authors %}
        <tr>
            <td>{{author.first_name}}</td>
            <td>{{author.last_name}}</td>
            <td><button>Edit</button></td>
            <td><button>Delete</button></td>
        </tr>
        {% endfor %}
    </table>
    <br><br>

    <form method = "POST" id = "addAuthor" padding-bottom="0">
        <h3>Add An Author</h3>
        <label>First Name </label> <input type="text" name = "first_name">
        <label>Last Name </label> <input type="text" name = "last_name">
        <input type ="submit">
    </form>

    <form method = "POST" id = "updateAuthors">
        <h3>Update An Author</h3>
        <label>Author</label> <select name="author">
            <option value = "0"></option>
            <option value = "1">J.R.R. Tolkien</option>
            <option value = "2">Neil Gaiman</option>
            <option value = "3">Terry Pratchett</option>
            <option value = "4">Jodi Picoult</option>
            <option value = "5">Samantha Van Leer</option>
            <option value = "6">J.K. Rowling</option>
        </select>
        <label>First Name </label> <input type="text" name = "first_name">
        <label>Last Name </label> <input type="text" name = "last_name">
        <input type ="submit">
    </form>
{% endblock %}