{% extends "layout.html" %}
{% block title %}Books by Authors{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h2>Authors_Books</h2>
    <p class="important">Displays all Books by Authors (M:M relationship)</p>
    <table border="1" cellpadding="5">
        <tr>
            <th>Book Title</th>
            <th>Author Name</th>
            <th></th>
            <th></th>
        </tr>
        {% for ab in authors_books %}
        <tr>
            <td>{{ab.title}}</td>
            <td>{{ab.full_name}}</td>
            <td><a href="/authors-books/edit/{{ab.book_id}}/{{ab.author_id}}"><button>Edit</button></a></td>
            <td><a href="/authors-books/delete/{{ab.book_id}}/{{ab.author_id}}"><button>Delete</button></a></td>
        </tr>
        {% endfor %}
    </table>
    
    <form method="GET" id = "Author_Filter">
        <label>Filter Table By Author</label> <select name="Author">
            <option value = "0"></option>
            {% for author in authors %}
            <option value = "{{author.author_id}}" >{{author.first_name}} {{author.last_name}}</option>
            {% endfor %}
        </select> 
        <input type ="submit" value = "filter">   
    </form>

    <form method = "POST" id = "addAuthorToBook" action = "/authors-books">
        <h3>Add An Author to A Book</h3>
        <label>Author</label> <select name = "author_id">
            <option value = "0"></option>
            {% for author in authors %}
            <option value = "{{author.author_id}}" >{{author.first_name}} {{author.last_name}}</option>
            {% endfor %}
        </select>
        <label>Book</label> <select name = "book_id">
            <option value = "0"></option>
            {% for book in books %}
            <option value = "{{book.book_id}}" >{{book.title}} </option>
            {% endfor %}
        </select>
        <input type ="submit" value="add">
    </form>

{% endblock %}