{% extends "layout.html" %}
{% block title %}Books{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h2>Books</h2>
    <p class="important">Displays all Books and their attributes</p>
    <table border="1" cellpadding="5">
        <tr>
            {% for attr in books[0].keys() %}
            {% if attr != "book_id" %}
            <th>{{ attr.replace("_", " ").title()  }}</th>
            {% endif %}
            {% endfor %}
            <th></th>
            <th></th>
        </tr>
        {% for book in books %}
        <tr>
            <td>{{ book.title }}</td>
            <td>{{ book.publisher }}</td>
            <td>{{ book.isbn }}</td>
            <td>{{ book.summary[0:25] }}...</td>
            <td>{{ book.published_date }}</td>
            <td>{{ book.msrp }}</td>
            <td>{{ book.average_rating }}</td>
            <td><a href="/books/edit/{{book.book_id}}"><button>Edit</button></a></td>
            <td><a href="/books/delete/{{book.book_id}}"><button>Delete</button></a></td>
        </tr>
        {% endfor %}
    </table>

    <form method="POST" id="add_book" action="/books">
        <h3>Add a Book</h3>
        <label>Title</label> <input type="text" name="title">
        <label>Publisher</label> <input type="text" name="publisher"> 
        <label>ISBN</label> <input type="text" name="isbn">
        <label>Summary</label> <textarea rows="10" name="summary"></textarea>
        <label>Published Date</label> <input type="date" name="published_date">
        <label>MSRP</label> <input type="number" name="msrp" step="0.01">
        <label>Average Rating</label> <input type="number" name="average_rating" min="1" max="5" step="0.1">
        <input type="submit" value="Add">
    </form>

{% endblock %}
