{% extends "layout.html" %}
{% block title %}Books{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h2>Edit</h2>
    <p class="important">Editing {{ book.title }}</p>
    
    <form method="POST" id="edit_book" action="/books/edit/{{book.book_id}}">
        <input type="hidden" name="book_id" value={{book.book_id}}>
        <label>Title</label> <input type="text" name="title" value="{{book.title}}">
        <label>Publisher</label> <input type="text" name="publisher" value="{{book.publisher}}"> 
        <label>ISBN</label> <input type="text" name="isbn" value="{{book.isbn}}">
        <label>Summary</label> <textarea rows="10" name="summary">{{book.summary}}</textarea>
        <label>Published Date</label> <input type="date" name="published_date" value="{{book.published_date}}">
        <label>MSRP</label> <input type="number" name="msrp" step="0.01" value="{{book.msrp}}">
        <label>Average Rating</label> <input type="number" name="average_rating" min="1" max="5" step="0.1" value="{{book.average_rating}}">
        <input type="submit">
    </form>

{% endblock %}
