{% extends "layout.html" %}
{% block title %}Books{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h1>Books</h1>
    <p class="important">Displays all Books and their attributes</p>
    <table>
        <tr>
            {% for attr in books[0].keys() %}
            <th>{{ attr }}</th>
            {% endfor %}
        </tr>
        {% for book in books %}
        <tr>
            <td>{{ book.book_id }}</td>
            <td>{{ book.title }}</td>
            <td>{{ book.publisher }}</td>
            <td>{{ book.isbn }}</td>
            <td>{{ book.summary }}</td>
            <td>{{ book.published_date }}</td>
            <td>{{ book.msrp }}</td>
            <td>{{ book.average_rating }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
