{% extends "layout.html" %}
{% block title %}Books{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h2>Books</h2>
    <p class="important">Displays all Books and their attributes</p>
    <table border="1" cellpadding="5">
        <tr>
            {% for attr in books[0].keys() %}
            {% if attr != "book_id" %}
            <th>{{ attr }}</th>
            {% endif %}
            {% endfor %}
            <th></th>
            <th></th>
        </tr>
        {% for book in books %}
        <tr>
            <td>{{ book.title }}</td>
            <td>{{ book.publisher }}</td>
            <td>{{ book.isbn }}</td>
            <td>{{ book.summary[0:25] }}...</td>
            <td>{{ book.published_date }}</td>
            <td>{{ book.msrp }}</td>
            <td>{{ book.average_rating }}</td>
            <td><a href="/edit/{{book.book_id}}"><button>Edit</button></a></td>
            <td><button>Delete</button></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
