<!-- Citation -->
<!-- scope: Modals, and jinja code blocks in current template -->
<!-- date: 6/6/2022 -->
<!-- originality: jinja blocks based on official documentation, and flask guide-->
<!-- Sources: https://github.com/osu-cs340-ecampus/flask-starter-app, https://jinja.palletsprojects.com/en/3.1.x/api/#basics -->

{% extends "layout.html" %}
{% block title %}Duplicate{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h2>Duplicate Entry Found</h2>

    {% if bg %}
    <p>The book "{{bg.title}}" has an existing relationship with the genre "{{bg.description}}"</p>
    {% endif %}
    
    {% if ab %}
    <p>The book "{{ab.title}}" has an existing relationship with the author "{{ab.full_name}}"</p>
    {% endif %}

{% endblock %}