{% extends "layout.html" %}
{% block title %}Genres{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h2>Genres</h2>

    <p class="important">Displays all Genres</p>

    <!-- Button trigger modal -->
    <div class="container pb-3">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addGenreModal">
            Add Genre
        </button>
    </div> 

    <!-- Modal -->
    <div class="modal fade" id="addGenreModal" tabindex="-1" role="dialog" aria-labelledby="addGenreModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="addGenreModal">Add a new Genre</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form method="POST" id="addGenre" action="{{ url_for('genres') }}">
                    <div class="form-group">
                        <input type="hidden" class="form-control" name="hidden" value="addGenre">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text" class="form-control" name="description" id="description" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>
        </div>
        </div>
    </div>

    {% if genres %}
    <table class="table">
        <tr>
            {% for attr in genres[0].keys() %}
            {% if attr != "genre_id" %}
            <th>{{ attr.replace("_", " ").title() }}</th>
            {% endif %}
            {% endfor %}
            <th></th>
            <th></th>
        </tr>
        {% for genre in genres %}
        <tr>
            <td>{{ genre.description }} </td>
            <td><div class="container pb-3"><button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#edit{{genre.genre_id}}">Edit Genre</button></div>
            </td>
            <td>
                <a href="{{ url_for('delete_genre', genre_id=genre.genre_id) }}">
                    <button type="button" class="btn btn-secondary">Delete</button>
                </a>
            </td>
        </tr>
                                                            <!-- Edit Modal -->
        <div class="modal fade" id="edit{{genre.genre_id}}" tabindex="-1" role="dialog" aria-labelledby="edit{{genre.genre_id}}" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="edit{{genre.genre_id}}">Editing {{genre.description}} </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <form method="POST" id="updateGenres" action="{{ url_for('edit_genre', genre_id=genre.genre_id) }}">
                        <div class="form-group">
                            <label for="description">Description</label>
                            <input type="text" class="form-control" name="description" id="description" value = "{{genre.description}}">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Edit</button>
                        </div>    
                    </form>
                </div>
            </div>
            </div>
        </div>
        
        {% endfor %}
    </table>

    {% else %}
    <p>It looks like there are no Genres in the database :( Please add one!</p>

    {% endif %}

    <h2>Books by Genre</h2>
    <p class="important">Displays all Books by Genre (M:M)</p>

    <!-- Button trigger modal -->
    <div class="container pb-3">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addGenreToBook">
            Add Genre to Book
        </button>
    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="addGenreToBook" tabindex="-1" role="dialog" aria-labelledby="addGenreToBook" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="addGenreToBook">Add a new Genre to Book relationship</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form method="POST" id="addGenreToBook" action="{{ url_for('genres') }}">
                    <div class="form-group">
                        <input type="hidden" name="hidden" value="addGenreToBook">
                    </div>
                    <div class="form-group">
                        <label>Book</label>
                        <select class="form-select" name="book_id" required>
                            <option value="" disabled selected></option>
                            {% for book in books %}
                            <option value = "{{book.book_id}}" >{{book.title}} </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Genre</label>
                        <select class="form-select" name="genre_id" required>
                            <option value="" disabled selected></option>
                            {% for genre in genres %}
                            <option value = "{{genre.genre_id}}" >{{genre.description}} </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>
        </div>
        </div>
    </div>    

    {% if books_genres %}
    <table class="table">
        <tr>
            <th>Title</th>
            <th>Genre</th>
            <th>Edit Genre</th>
            <th>Delete Genre</th>
        </tr>
        {% for bg in books_genres %}
        <tr>
            <td>{{ bg.title }}</td>
            <td>{{ bg.description }}</td>
            <td>
                <div class="container pb-3"><button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#edit{{bg.genre_id}}{{bg.book_id}}">Edit Genre </button></div>
            </td>
            <td>
                <a href="{{ url_for('delete_book_genre', book_id=bg.book_id, genre_id=bg.genre_id) }}">
                    <button type="button" class="btn btn-secondary">Delete</button>
                </a>
            </td>
        </tr>
                                    <!-- Modal -->
        <div class="modal fade" id="edit{{bg.genre_id}}{{bg.book_id}}" tabindex="-1" role="dialog" aria-labelledby="edit{{bg.genre_id}}{{bg.book_id}}" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="edit{{bg.genre_id}}{{bg.book_id}}" >Edit Genre for <em>{{bg.title}}</em></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <form method="POST" id="editbookgenre" action="{{url_for('edit_book_genre', book_id = bg.book_id, genre_id = bg.genre_id)}}">
                            <label>Genre</label>
                            <select class="form-select" name="genre_id" id="genre_id">
                                {% for genre in genres %}
                                    {% if genre.genre_id == bg.genre_id %} 
                                        <option value="{{genre.genre_id}}" selected>{{genre.description}}</option>
                                    {% else %} 
                                        <option value="{{genre.genre_id}}">{{genre.description}}</option>
                                    {% endif %} 
                                {% endfor %}
                            </select>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Edit</button>
                        </div>
                    </form>
                </div>
            </div>
            </div>
        </div>
        {% endfor %}
    </table>

    {% else %}
    <p>It looks like there are no Book to Genre relationships in the database :( Please add one!</p>

    {% endif %}

{% endblock %}