{% extends "layout.html" %}
{% block title %}Genres{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h2>Genres</h2>
    <p class="important">Displays All Genres</p>
    <table border="1" cellpadding="5">
        <tr>
            {% for attr in genres[0].keys() %}
            {% if attr != "genre_id" %}
            <th>{{ attr.replace("_", " ").title() }}</th>
            {% endif %}
            {% endfor %}
            <th></th>
            <th></th>
        </tr>
        {% for genre in genres %}
        <tr>
            <td>{{ genre.description }} </td>
            <td><a href="/genres/edit/{{genre.genre_id}}"><button>Edit</button></a></td>
            <td><a href="/genres/delete/{{genre.genre_id}}"><button>Delete</button></a></td>
        </tr>
        {% endfor %}
    </table>

    <form method = "POST" id = "addGenre" >
        <h3>Add A Genre</h3>
        <input type = "hidden" name= "hidden" value = "addGenre">
        <label>Description </label> <input type="text" name = "description">
        <input type ="submit">
    </form>

    <p class="important">Displays Books By Genres</p>
    <table border="1" cellpadding="5">
        <tr>
            <th>Title</th>
            <th>Genre</th>
            <th>Edit Genre</th>
            <th>Delete Genre</th>
        </tr>
        {% for bg in books_genres %}
        <tr>
            <td>{{ bg.title }}</td>
            <td>{{ bg.description }}</td>
            <td><a href="/genres/edit/{{bg.book_id}}/{{bg.genre_id}}"><button>Edit</button></a></td>
            <td><a href="/genres/delete/{{bg.book_id}}/{{bg.genre_id}}"><button>Delete</button></a></td>
        </tr>
        {% endfor %}
    </table>

    <form method = "POST" id = "addBookToGenre">
        <h3>Add A Book to A Genre</h3>
        <input type = "hidden" name= "hidden" value = "addBookToGenre" >
        <label>Book</label> <select name="book_id">
            <option ></option>
            {% for book in books %}
            <option value = "{{book.book_id}}" > {{book.title}} </option>
            {% endfor %}
        </select>
        <label>Genre</label> <select name="genre_id">
            <option ></option>
            {% for genre in genres %}
            <option value = "{{genre.genre_id}}"> {{genre.description}} </option>
            {% endfor %}
        </select>
        <input type ="submit">
    </form>

{% endblock %}