<!-- Citation -->
<!-- scope: Modals, and jinja code blocks in current template -->
<!-- date: 6/6/2022 -->
<!-- originality: Modals adapted from bootstrap source documentation examples, jinja blocks based on official documentation, and flask guide-->
<!-- Sources: https://github.com/osu-cs340-ecampus/flask-starter-app, https://jinja.palletsprojects.com/en/3.1.x/api/#basics -->

{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h2>Books</h2>
    <p class="important">
        Displays all Books and their attributes.
        <br>
        You can add a new Book, or update/delete an existing Book. 
        <br>
        Deleting an existing Book will remove it
        from the intersection tables authors_books and books_genres, 
        as well as any associated reviews from the reviews table.
    </p>

    <h2>Authors</h2>
    <p class="important">
        Displays all Authors and their attributes. Also displays all Authors by Books with the use of the authors_books intersection table.
        <br>
        You can add a new Author, or update/delete an existing Author.
        <br>
        Add a new Author to Book relationship, or update/delete an existing Author to Book relationship.
        This updates the authors_books intersection table.
    </p>
    
    <h2>Reviews</h2>
    <p class="important">
        Displays all Reviews and their attributes. 
        <br>
        Add a new Review, or update/delete an existing Review.
    </p>

    <h2>Genres</h2>
    <p class="important">
        Displays all Genres and their attributes. Also displays all Books by Genres with the use of the books_genres intersection table.
        <br>
        Add a new Genre, or update/delete an existing Genre.
        <br>
        Add a new Genre to Book relationship, or update/delete an existing Genre to Book relationship. 
        This updates the books_genres intersection table.
    </p>

{% endblock %}