<!doctype html>
<html>
    <head>
        {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>{% block title %}{% endblock %} - Greatreads</title>
        {% endblock %}
    </head>
    <body>
        <div id="header">{% block header %}{% endblock %}<h1>Greatreads</h1></div>
        <div class = "topnav">
            {% block navbar %} 
                <a href="/">Home</a>
                <a href="/books">Books</a> 
                <a href="/reviews">Reviews</a>   
            {% endblock %}
        </div>
        <div id="content">{% block content %}{% endblock %}</div>
        <div id="footer">
            {% block footer %}
            &copy; 2022 by GalaxyDB
            {% endblock %}
        </div>
    </body>
</html>