{% extends "layout.html" %}
{% block title %}Reviews{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h3>Update Review</h3>
    <form method = "POST" id = "editReview"  action="/reviews/edit/{{review.review_id}}">
        <input type="hidden" name="review_id" value={{review.review_id}}>
        <label>Rating</label> <input type="number" name = "rating" value= "{{review.rating}}"> 
        <label>Summary</label> <input type ="text" name = "summary" value= "{{review.summary}}">
        <label>User Handle</label> <input type ="text" name = "user_handle" value= "{{review.user_handle}}">
        <input type ="submit">
    </form>

{% endblock %}