<!-- Citation -->
<!-- scope: Modals, and jinja code blocks in current template -->
<!-- date: 6/6/2022 -->
<!-- originality: Modals adapted from bootstrap source documentation examples, jinja blocks based on official documentation, and flask guide-->
<!-- Sources: https://getbootstrap.com/docs/4.0/components/modal/, https://github.com/osu-cs340-ecampus/flask-starter-app, https://jinja.palletsprojects.com/en/3.1.x/api/#basics -->

{% extends "layout.html" %}
{% block title %}Reviews{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h2>Reviews</h2>
    <p class="important">Displays Reviews for all Books</p>

    <!-- Button trigger modal -->
    <div class="container pb-3">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addReviewModal">
            Add Review
        </button>
    </div> 

    <!-- Modal -->
    <div class="modal fade" id="addReviewModal" tabindex="-1" role="dialog" aria-labelledby="addReviewModal" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="addReviewModal">Add a new Review</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form method="POST" id="addReview" action="{{ url_for('reviews') }}">
                    <!-- TODO: change the Book select to a Bootstrap dropdown? -->
                    <div class="form-group">
                        <label for="book">Book</label>
                        <select class="form-select" name="book" required>
                            <option value="" disabled selected></option>
                            {% for book in books %}
                            <option value = "{{book.book_id}}">{{book.title}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="rating">Rating</label>
                        <input type="number" class="form-control" name="rating" id="rating" min="0" max="5" step="0.1" required>
                    </div>
                    <div class="form-group">
                        <label for="summary">Summary</label>
                        <input type="text" class="form-control" name="summary" id="summary">
                    </div>
                    <div class="form-group">
                        <label for="user_handle">User Handle</label>
                        <input type="text" class="form-control" name="user_handle" id="user_handle">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>
        </div>
        </div>
    </div>

    {% if reviews %}
    <table class="table">
        <tr>
            {% for attr in reviews[0].keys() %}
            {% if ((attr != "review_id") and (attr != "book_id")) %}
            <th>{{ attr.replace("_", " ").title() }}</th>
            {% endif %}
            {% endfor %}
            <th></th>
            <th></th>
        </tr>
        {% for review in reviews %}
        <tr> 
            <td>{{ review.title }}</td>
            <td>{{ review.rating }}</td>
            <td>{{ review.summary }}</td>
            <td>{{ review.user_handle }}</td>
            <td><div class="container pb-3"><button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#edit{{review.review_id}}">Edit Review</button></div></td>
            <td><a href="{{ url_for('delete_review', review_id=review.review_id) }}"><button type="button" class="btn btn-secondary">Delete</button></a></td>

            <!-- Edit Modal -->
            <div class="modal fade" id="edit{{review.review_id}}" tabindex="-1" role="dialog" aria-labelledby="edit{{review.review_id}}" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="edit{{review.review_id}}">Editing Review for {{review.title}} </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" id="edit_book{{review.review_id}}" action="{{ url_for('edit_review', review_id=review.review_id) }}">
                            <div class="form-group">
                                <label for="book">Book</label>
                                <select class="form-select" name="book" required>
                                    <option value="" disabled selected></option>
                                    <option value="None">NULL</option>
                                    {% for book in books %}
                                        {% if review.book_id == book.book_id %}
                                            <option value = "{{book.book_id}}" selected>{{book.title}}</option>
                                        {% else %}
                                            <option value = "{{book.book_id}}">{{book.title}}</option>
                                        {% endif %} 
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="rating">Rating</label>
                                <input type="number" class="form-control" name="rating" id="rating" min="0" max="5" step="0.1" value = "{{review.rating}}">
                            </div>
                            <div class="form-group">
                                <label for="summary">Summary</label>
                                <input type="text" class="form-control" name="summary" id="summary" value = "{{review.summary}}">
                            </div>
                            <div class="form-group">
                                <label for="user_handle">User Handle</label>
                                <input type="text" class="form-control" name="user_handle" id="user_handle" value = "{{review.user_handle}}">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Edit</button>
                            </div>
                        </form>
                    </div>
                </div>
                </div>
            </div>

        </tr>
        {% endfor %}
    </table>

    {% else %}
    <p>It looks like there are no Reviews in the database :( Please add one!</p>

    {% endif %}

{% endblock %}