{% extends "layout.html" %}
{% block title %}Reviews{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h2>Reviews</h2>
    <p class="important">Displays Reviews for all Books</p>

    {% if reviews %}
    <table border="1" cellpadding="5">
        <tr>
            {% for attr in reviews[0].keys() %}
            {% if ((attr != "review_id") and (attr != "book_id")) %}
            <th>{{ attr.replace("_", " ").title() }}</th>
            {% endif %}
            {% endfor %}
            <th></th>
            <th></th>
        </tr>
        {% for review in reviews %}
        <tr> 
            <td>{{ review.title }}</td>
            <td>{{ review.rating }}</td>
            <td>{{ review.summary }}</td>
            <td>{{ review.user_handle }}</td>
            <td><a href="{{ url_for('edit_review', review_id=review.review_id) }}"><button>Edit</button></a></td>
            <td><a href="{{ url_for('delete_review', review_id=review.review_id) }}"><button>Delete</button></a></td>
        </tr>
        {% endfor %}
    </table>

    {% else %}
    <p>It looks like there are no Reviews in the database :( Please add one!</p>

    {% endif %}

    <form method = "POST" id = "addReview">
        <h3>Add A Review</h3>
        <label>Book</label> <select name="book">
            <option value = "0"></option>
            {% for book in books %}
            <option value = "{{book.book_id}}">{{book.title}}</option>
            {% endfor %}
        </select>
        <label>Rating</label> <input type="number" name = "rating" min = 0 max = 5 step = ".1"> 
        <label>Summary</label> <input type ="text" name = "summary">
        <label>User Handle</label> <input type ="text" name = "user_handle">
        <input type ="submit">
    </form>
{% endblock %}